body{
    background-color: #f1f1f1;
}

#fileContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.fileElement{

    border-radius: 5px;
    border: 1px black solid;
    height: 50px;
    color: black;
}

#botonBuscar{
    border-radius: 5px;
    border: 1px black solid;
    color: black;
    background-color: aliceblue;
}

#optionsCont{
    display: flex;
}

#tagsDiv{
    width: 30px;
    height: 30px;
    background-color: green;
    border: 1px black solid;
}

#tagsOverlay{
    position: fixed;
    width: 70%;
    height: 60%;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap:20px;
}

#tagsContainer{
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
}


.select2 option:hover {
    background: #f00;
    color: #fff;
}
option:hover{
    background-color: #50bdcd !important;
}


.tagContainer{
    display: flex;
}


/* Nuevo */

#descripcion{
    /*width:800px;*/
}

#contentBox{
    display: flex;
    width: 100%;
}

#menuBox{
    width:30%;
    margin: 2.5%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    height:fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.lupa{
    position: static;
    z-index: 5;
    margin-left: 1em;
    margin-top: .75em;
}

.position-relative{
    display: flex;
}

.form-control{
    background-color: #f1f1f1 !important;
    position: absolute;
}

#menuBox label,#menuBox select{
    display: block;
    position: static;
}

#btnTags{
    border-radius: 40px;
}

#cuerpoTags{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

#cruz{
    display: none;
}




/* Lista */



#listBox{
    width: 60%;
    margin: 2.5%;
    border-radius: 5px;
    background-color: white;
    height:fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table{
    width: 100%;
    table-layout: fixed;   /* Ensures equal column width */
    border-collapse: collapse; 
    background-color: white;
    border-radius: 5px;
}
.item, .item1{
    width: 100%;
    background-color: white;
    display: flex;
    overflow: hidden;
}

td{
    white-space: nowrap; /* Prevent text from wrapping to a new line */
    overflow: hidden; /* Hide any overflow text */
    text-overflow: ellipsis;
}

#tableNames{
    border-radius: 5px;
}

.item:hover{
    background-color: #b83256;
    color: white;
}

#tableNames:hover{
    background-color: white;
}

tr{
    border-bottom: 1px solid #f1f1f1;
}

tbody{
    border-top: inherit !important;
}

.imgCont1{
    width: 20%;
}

.imgCont{
    width: 20%;
    align-items: center;
    display: flex;
    padding: 0;
    background-color: #f1f1f1 !important;
    /*justify-content: center;*/
}
.playCont{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nameCont{
    width: 20%;
    display: flex;
    align-items: center;
}
.colCont{
    width: 20%;
    display: flex;
    align-items: center;
}
.detCont{
    width: 20%;
    display: flex;
    align-items: center;
}
.placeCont{
    width: 10%;
    align-items: center;
    display: flex;
}
.placeCont p{
    margin-bottom: 0;
    margin-left: 10px;
    white-space: nowrap; /* Prevent text from wrapping to a new line */
    overflow: hidden; /* Hide any overflow text */
    text-overflow: ellipsis;
}
.audioFile{
    display: none;
}

.pagination{
    text-align: right !important;
    display: flex;
    justify-content: right;
    width: 100%;
    padding-right: 20px;
}
#number{
    border-radius: 100%;
    border: none !important;
    background-color: #b83256;
    width: 2em;
    height: 2em;
}
.arrow{
    border: none !important;
}



#controls{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    z-index:10;
    font-size: 30px;
}

#nameInPlayer{
    flex-basis: 20%;
    color: #50bdcd;
    padding-left: 40px;
}
#detInPlayer{
    flex-basis: 30%;
    color:white;
}
#changerCont{
    flex-basis: 25%;
}
.cuartoElemento{
    flex-basis: 25%;
    color:white;
    padding-right: 40px;
    align-items: center;
}


.changer{
    z-index:20;
}

#controlsPlaceholder{
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #f1f1f1;
}











  /* Loader */

.flexBox{
display: flex;
width: 100%;
align-items: center;
flex-direction: column;
justify-content: center;
}

  
/* HTML: <div class="loader"></div> */
.loader {
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #000;
    box-shadow: 0 0 0 0 #0004;
    animation: l2 1.5s infinite linear;
    position: relative;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 #0004;
    animation: inherit;
    animation-delay: -0.5s;
  }
  .loader:after {
    animation-delay: -1s;
  }
  @keyframes l2 {
      100% {box-shadow: 0 0 0 40px #0000}
  }












