:root{
    --magenta = "#b83256";
}

body{
    background-color: #f1f1f1;
}

#fileContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.fileElement{

    border-radius: 5px;
    border: 1px black solid;
    height: 50px;
    color: black;
}

#botonBuscar{
    border-radius: 5px;
    border: 1px black solid;
    color: black;
    background-color: aliceblue;
}

#optionsCont{
    display: flex;
}

#tagsDiv{
    width: 30px;
    height: 30px;
    background-color: green;
    border: 1px black solid;
}

#tagsOverlay{
    position: fixed;
    width: 70%;
    height: 60%;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap:20px;
}

#tagsContainer{
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
}


.tagContainer{
    display: flex;
}


/* Nuevo */

#descripcion{
    /*width:800px;*/
}

#contentBox{
    display: flex;
    width: 100%;
}

#menuBox{
    width:35%;
}

#listBox{
    width: 65%;
    margin-right: 40px;
    border-radius: 5px;
    background-color: white;
}

.table{
    width: 100%;
    table-layout: fixed;   /* Ensures equal column width */
    border-collapse: collapse; 
    background-color: white;
    border-radius: 5px;
}
.item{
    width: 100%;
    background-color: white;
    display: flex;
    overflow: hidden;
}

.item:hover{
    background-color: #b83256;
}

#tableNames:hover{
    background-color: white;
}

.imgCont{
    width: 20%;
    align-items: center;
    display: flex;
    padding: 0;
    background-color: #f1f1f1;
    /*justify-content: center;*/
}
.playCont{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nameCont{
    width: 20%;
}
.colCont{
    width: 20%;
}
.detCont{
    width: 20%;
}
.placeCont{
    width: 10%;
}
.audioFile{
    display: none;
}

.pagination{
    text-align: right !important;
    display: flex;
    justify-content: right;
    width: 100%;
    padding-right: 20px;
}
#number{
    border-radius: 100%;
    border: none !important;
    background-color: #b83256;
}
.arrow{
    border: none !important;
}



#controls{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    z-index:10;
}

#changer{
    z-index:20;
}

#controlsPlaceholder{
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #f1f1f1;
}
























